.item
  .item__content
    = render 'shared/item-box'
    = render 'shared/item-box'
    = render 'shared/item-box'
    = render 'shared/item-box'
    = render 'shared/item-box'

  .view-all
    = link_to '他の大会も見る', '#'