.item-box__container
  %main.main
    %section.main__container__sell-item-box
      %h1.sell-item__name
        試合名
      .sell-item__main-content
        .sell-item__photo
          .sell-item__photo__all
            .sell-item__photo__main
              = image_tag "http://www.ashiya-taikyo.jp/information/wp-content/uploads/2017/08/0d40a5e4a645fc6b96e767d64ac0878e-1.png", alt: "", id: "translate-img"
        .sell-item__price-box.display-none
          %span.sell-item__en ¥
          %span.sell-item__tax（税込）
          %span.sell-item__shipping-fee 送料込み
        %table.sell-item__detail-table
          %tbody
            %tr
              %th 出品者
              %td
                名前
                %div
                  .sell-item__user-ratings
                    .icon-good
                      %i.fa.fa-laugh
                      %span 258
                  .sell-item__user-ratings
                    .icon-normal
                      %i.fa.fa-meh
                      %span 2
                  .sell-item__user-ratings
                    .icon-bad
                      %i.fa.fa-frown
                      %span 0
            %tr
              %th カテゴリー
              %td
                .sub-category
                  = link_to "#" do
                    %i.fa.fa-angle-right
                    %span サブカテ1
                .sub-category
                  = link_to "#" do
                    %i.fa.fa-angle-right
                    %span サブカテ2
            %tr
              %th ブランド
              %td
                = link_to "ブランド名"
            %tr
              %th 商品のサイズ
              %td FREE
            %tr
              %th 商品の状態
              %td 目立った傷や汚れなし
            %tr
              %th 配送料の負担
              %td 
                名前
            %tr
              %th 配送の方法
              %td 
            %tr
              %th 配送元地域
              %td
            %tr
              %th 発送日の目安
              %td 
        .sell-item__price-box
          %span.sell-item__en 
          %span.sell-item__price
          %span.sell-item__tax  (税込)
          %span.sell-item__shipping-fee 送料込み
      .item-description
        %p.item-description__inner
          コメント
      .item-button__container
        .item-button__left
          %button{type: "button", name: "like!", class:"item-button item-button-like"}
            %i.far.fa-heart
            %span いいね！
            %span.fade-in-down 17
          .item-button__report.item-button
            = link_to '#' do
              %i.far.fa-flag
              %span 不適切な商品の報告
        .item-button__right
          = link_to '#' do
            %i.fa.fa-lock
            %span あんしん・あんぜんへの取り組み
    .item-detail__message
      .message__container
        .message__space
        .message__content
          %form{action: '', method: 'POST', class:'.message__form'}
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %textarea{name: 'body', class: '.textarea-default'}
            %button{type: 'submit', class: 'btn-bray'}
              %span コメントする
    %ul.nav-item__links
      %li.nav-item__link-prev
        = link_to '#' do
          %i.fa.fa-angle-left
          前へ
      %li.nav-item__link-next
        = link_to '#' do
          次へ
          %i.fa.fa-angle-right
    .item-social-media__box
      .text-center
      %ul.sosial-media__box
        %li
          = link_to 'https://ja-jp.facebook.com/' do
            %i.fab.fa-facebook-square
        %li
          = link_to 'https://twitter.com/home?lang=ja' do
            %i.fab.fa-twitter-square
        %li
          = link_to 'https://line.me/ja/' do
            %i.fab.fa-line
        %li
          = link_to 'https://www.pinterest.jp/' do
            %i.fab.fa-pinterest-square
  .items__user-profile
    %section.items-box__container
      %h2.items-box__head
      .item__content
    %section.items-box__container
      %h2.items-box__head
        = link_to '関連ブランド', '#'
      .item__content